.dashboard {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-left: 13vw;
    height: 100vh;
    width: auto;
    overflow-x: hidden;
}

.dashboardTiles {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin: 10vh;
}

.dashHeaderContainer {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.dashHeading {
    margin-bottom: 0;

}

.dashButton {
    min-width: 200px;
    min-height: 200px;

    transform:
        rotateX(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
    box-shadow:

        10px 10px 1px 0 rgba(34, 33, 81, 0.01),
        10px 10px 5px 0 rgba(34, 33, 81, 0.25);
    transition:
        .4s ease-in-out transform,
        .4s ease-in-out box-shadow;
}

.dashButton:hover {
    transform:
        scale(1.1);

}

.dashBkg {
    position: absolute;
    z-index: -1;
    margin: none;

    background: #d2deea;
    position: absolute;
    height: 100vh;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;


}

.companyLogo {
    position: fixed;
    bottom: 25px;
    right: 25px;

    height: 50px;
    width: auto;
}

/* Table CSS */
table {
    background-color: white;
    border: 1px solid black;
    width: 800px;
    max-height: 900px;


    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 50px;
}

th {
    background-color: lightgrey;
}

.addButton {
    margin-top: 25px;
    min-width: 168px;
}

.notAuthorized {
    font-weight: bold;
    font-size: 30px;
    color: red;
    transform: translate(0, 5%);
}