.navBar {
    background-color: #306d93;

}

.navList{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 0;
    /* padding: 20px; */
 
}

.navLink{
    color: white;
}

.homeLink {
    color: white;
    margin-right: 25px;
}

.navLink:link {
    text-decoration: none;
}


.navLink:visited {
    text-decoration: none;
}


.navLink:hover {
    text-decoration: none;
}


/* .navLink:active {
    text-decoration: red;
} */

.navLink:hover{
    color: #fcec83;
}

