.navBar {
    background-color: #e9ae00;

}

.navList{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    /* padding: 20px; */
 
}

.navLink{
    color: white;
}

.navLink:link {
    text-decoration: none;
}


.navLink:visited {
    text-decoration: none;
}


.navLink:hover {
    text-decoration: none;
}


.navLink:active {
    text-decoration: none;
}